/* Elementor button icon hover effect */
selector a svg path {
  transition: 0.3s;
}

selector a:hover svg path {
  stroke: var( --e-global-color-primary );
}


/* Add Button Gradient Hover Animation*/
.btn-gradient {
  background: linear-gradient(to left, #E23EE3, #693EFE, #E23EE3);
  background-position: 0% 0%;
  background-size: 200% 100%;
  padding: 15px 100px;
  border-radius: 50px;
  color: #ffffff81;
  border: 0px;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
  overflow: hidden;
}

.btn-gradient:hover {
  background-position: 100% 0%;
}


/* Change placeholder color */
form input::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}
form input::-moz-placeholder {
  color: #666;
  opacity: 1;
}
form input::-ms-input-placeholder {
  color: #666;
  opacity: 1;
}


/* Convert number field to text */
form input {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Bounce Effect */
a:hover:before{
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.15);
}


/*
* WordPress Default Spinner - Preloader
*/

.spinner {
  background: url(/wp-admin/images/spinner.gif) no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  visibility: hidden;
  float: none;
  vertical-align: middle;
  opacity: .7;
  width: 20px;
  height: 20px;
  margin: 4px 10px 0;
}

.is-active.spinner {
  visibility: visible;
}